.vscode
a.out.dSYM
container
sat
tesssst
var
webServer
.tldr
a.out
c.c++
epol.cpp
index.html
kk
kk.cpp
last.cpp
llll
nadi.cpp
one
outt
pro.cpp
README.md
res
save.cpp
split.cpp
t.cpp
test.cpp
tt.cpp
tttt.cpp
tw.cpp
update.cpp
src
Server
parsing
otherconf
test
configFileAndPars
includes
methods